.home-title-section{
    width: 1100px;
    margin: auto;
    color: white;
}

.home-title{
    width: 600px;
    padding-top: 80px;
}
.home-title h1{
    font-size: 55px;
    font-weight: 600;
    margin-bottom: 20px;
    color: white;
}
.home-title p{
    font-size: 20px;
    font-weight: 400;
    margin-bottom: 20px;
}
.home-title button{
    width: 150px;
    height: 36px;
border: none;
    color: white;
    border-radius: 4px;
    background-color: #3eb489;
}

.home-info{
    display: flex;
    margin-top: 100px;
}
.home-info-block{
    display: flex;
    width: 400px;
    height: 120px;
    border: 0.01px solid white;
    margin-right: 40px ;
    border-radius: 4px;
    box-shadow: 10px black;
}
.home-info-block img{
    width: 40px;
    margin: 20px;
}
.home-info-block h2{
    margin-top: 26px;
    margin-left: 10px;
    font-size: 18px;
    font-weight: 600;
}
.home-info-block span{
    margin-left: 10px;
    font-size: 30px;
}



/* Home Benefit Section */
.home-benefits-section{
    width: 1100px;
    margin: 120px auto;
    display: flex;
    color: white;
}
.home-benefit{
    width: 330px;
    margin-right: 40px;
}
.home-benefit-icon h2{
display: inline;
font-size: 23px;
position: relative;
bottom: 20px;
font-weight: 460;
}
.home-benefit-icon img{
    display: inline;
    margin: 10px;
}
.home-benefits-section p{
    font-size: 16px;
    font-weight: 500;
}


/* Home Token Card Section */
.home-token-section{
    width: 1100px;
    margin: auto;
    
    color: white;
}
.home-token-info{
    width: 400px;
    font-size: 40px;
    font-weight: 600;
}
.home-token-options{
    display: flex;
    margin: 60px 0;
}
.home-token-option{
    width: 550px;
    margin-right: 50px;
    border: 0.1px solid white;
    padding: 10px 20px;
    border-radius: 10px;
}
.home-token-option-icon img{
    width: 40px;
    display: inline;
    margin: 5px 10px;
}
.home-token-option-icon h2{
    display: inline;
    position: relative;
    bottom: 20px;
   
}
.home-token-option-title p{
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 15px;
}
.home-token-option-apr h4{
    font-size: 17px;
    font-weight: 400;
} 
#buy{
    width: 60px;
    height: 35px;
    color: white;
    background-color: #3eb489;
    border: none;
    border-radius: 4px;
    margin-top: 25px;
    margin-right: 20px;
}
#readmore{
    width: 100px;
    height: 32px;
    color: white;

    border: 0.1px solid white;
    border-radius: 4px;
background-color: black;
  
}