*{
    padding: 0;
    margin: 0;
    /* color: #a7a7a9; */
    /* background-color: #151515; */
}

.nav-container{
    display: flex;
    height: 60px;
    color: #a7a7a9; 
    background-color: #121111;
}

.app-header-logo img{
    margin-left: 30px;
    height: 60px;
    display: inline;
}
.app-header-logo h2{
    display: inline;
    position: relative;
    bottom: 20px;
}

.app-header-left{
    
    width: 670px;
    margin-left: 100px;
}
.app-header-left ul{
    display: flex;
}
.app-header-left nav ul a{
    text-decoration: none;
    color: #a7a7a9;
}
.app-header-left ul li{
    list-style: none;
    padding: 20px  18px ;
}


.app-header-right{
    display: flex;
    position: absolute;
    right: 60px;
}


.app-header-trade-link {
    border-radius: 4px;   
    background-color: #3eb489;
    font-size: 18px;
    color: white;
    font-weight: 400;
   padding: 5px 15px;
    margin: 10px;
}

.nav-container button{
height: 40px;
border: 0.1px solid white;
border-radius: 3px;
color: white;
margin: 10px;
padding: 5px;
background-color: #121111;
}
.nav-container button img{
    margin: 5px;
}
.nav-container button span{
    margin: 5px;
    position: relative;
    bottom: 12px;
}